<h2>Agregar página de facebook para el equipo</h2>
<p>Selecciona la página de facebook que deseas agregar.</p>
<input type="hidden" id="response" value="2" [(ngModel)]="fbPage" #response>
<button type="submit" id="update"  (click)="update(response.value)" style="display: none;">
</button>
<input type="button" class="btn btn-primary" 
onclick="return !window.open('https://www.facebook.com/v2.11/dialog/oauth? client_id=1559072617503035&redirect_uri=https://6c736ad3.ngrok.io/oauth/facebook/login-personal-add-page/&display=popup&response_type=code&scope=manage_pages,ads_management,pages_show_list,business_management,read_page_mailboxes,pages_messaging,instagram_basic,instagram_manage_insights,instagram_manage_comments', 'Agrega página de Facebook', 'width=500,height=500,left='+((screen.width/2)-(500/2))+', top='+((screen.height/2)-(500/2)))" value="Conectarme a facebook">
