/*
 * Base structure
 */

 /* Move down content because we have a fixed navbar that is 50px tall */
 body {
  padding-top: 58px;
  font-size: 13px;
}

/*
 * Typography
 */

 h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}


/*
 * Dashboard
 */

 /* Placeholders */
 .placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
/* Alert */
.alert-dismissible .close{
  outline:0;
  padding: .5rem 1.25rem;

}
/* FlashMessage */
.flash-message {
    top: 0 !important;

}
.flash-message-hide{
   position: fixed;
    z-index: 10000;
    left: 10%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 80%;
    top: -50px;
    transition:  1s ease-in-out all;

 
}

