.h5, h5 {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.row {
    padding: 0;
    margin: 0;
    width: 100%;
}
.name {
    padding: 0 0 0 0;
    overflow: hidden;

}
.time {
    padding: 0;
    overflow: hidden;
}
.small, small {
    vertical-align: top;
    font-size: 70%;
    font-weight: 400;
    white-space: nowrap;

}
.header {
    max-height: 40px;
    min-height: 40px;
    z-index: 10;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

}
.footer {
    max-height: 130px;
    min-height: 130px;
    z-index: 10;
}
.full-content {
     font-size: 1rem;
    margin-top: 0;

    height: calc(100vh - 58px);
}
p {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.pre-scrollable {
    max-height: calc(100% - 170px);
    min-height: calc(100% - 170px);
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    border-radius: 4px;
    background-color: #F5F5F5;
}
.scroll::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    background-color: #343a40;
}
a.list-group-item:last-child{
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group-item:last-child{
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0.25rem;
}
.block-message {    
    display: block;
    padding: .1rem 1.25rem;
    background-color: #fff;
}
.block-message:last-child{
    margin-bottom: 1em;
}
.message {
    display: inline-block;
    background: #f1f0f0;
    border-radius: 1em;
    padding: 0.3em 1em;
    color: #212529;
}
.loading{
    border: 0px;


}
.message-response{
    display: inline-block;
    background: #407fff;
    border-radius: 1em;
    padding: 0.3em 1em;
    color: white;
}