<div class="full-content" *ngIf="_conversation.name!==''">
	<div class="list-group-item header d-flex">
		<div class="my-auto">
			<h5 class="mb-1">{{conversation.name}}</h5>
			<a target="_blank" href="{{conversation.api.link}}" *ngIf="conversation.api.link">
				<img src="/assets/img/link.svg" height="16rem" class="mx-auto" />
			</a>
		</div>
	</div>
	<div class="list-group pre-scrollable scroll" infiniteScroll
	debounce
	[infiniteScrollDistance]="1"
	[infiniteScrollUpDistance]="2"
	[infiniteScrollThrottle]="300"
	[scrollWindow]="false"
	(scrolledUp)="onUp()"
	#messageScroll
	>
	<div  [ngClass]="{ 'invisible': !loading }"  class="list-group-item flex-column align-items-start loading" >
		<div class="d-flex w-100 justify-content-between">
			<img src="/assets/img/loading.svg" height="45rem" class="mx-auto d-block" />
		</div>
	</div>
	<div class="block-message" *ngFor="let message of messages.docs; let i = index;">
		<div class="d-flex w-100 justify-content-between" *ngIf="message.time | showtime : i>0?messages.docs[i-1].time:'1992-11-25T11:49:07.000Z'">
			<div class="row">
				<div class="col-12 time text-center">
					<small>{{ message.time | amCalendar }}</small>
				</div>
			</div>
		</div>

		<div  *ngIf="!message.response">
			<div class="message"><p class="mb-1">{{message.message}}</p></div>
		</div>
		<div  *ngIf="message.response">
			<div class="message-response float-right"><p class="mb-1">{{message.message}}</p></div>
		</div>
	</div>
</div>
<div class="list-group-item footer">
	<form (submit)="send()">
		<textarea class="form-control" placeholder="Escríbe un mensaje"  [(ngModel)]="newMessage" name="newMessage" (keydown.enter)="$event.preventDefault();send()"></textarea>
		<div>
			<input type="submit" class="btn btn-primary m-2 float-right" value="Enviar">
		</div>
	</form>
</div>
</div>