<div class="full-content">
	<div class="list-group-item header ">
		<h5 class="mb-1">{{conversation.name}}</h5>
	</div>
	<div class="list-group pre-scrollable scroll" infiniteScroll
	debounce
        [infiniteScrollDistance]="1"
        [infiniteScrollUpDistance]="0"
        [infiniteScrollThrottle]="300"
        [scrollWindow]="false"
		(scrolledUp)="onUp()"
		#messageScroll
	>
	<div  [ngClass]="{ 'd-none': !loading }"  class="list-group-item flex-column align-items-start loading" >
		<div class="d-flex w-100 justify-content-between">
			<img src="/assets/img/loading.svg" height="45rem" class="mx-auto d-block" />
		</div>
	</div>
	<div class="block-message" *ngFor="let message of messages.docs; let i = index;">
		<div class="d-flex w-100 justify-content-between" *ngIf="message.time | showtime : i>0?messages.docs[i-1].time:'1992-11-25T11:49:07.000Z'">
				<div class="row">
					<div class="col-12 time text-center">
						<small>{{ message.time | amCalendar }}</small>
					</div>
				</div>
			</div>

		<div  *ngIf="!message.response">
			<div class="message"><p class="mb-1">{{message.message}}</p></div>
		</div>
		<div  *ngIf="message.response">
			<div class="message-response float-right"><p class="mb-1">{{message.message}}</p></div>
		</div>
	</div>
</div>
<div class="list-group-item footer">
	<textarea class="form-control" placeholder="Escríbe un mensaje"></textarea>
	<div>
		<button type="button" class="btn btn-primary m-2">Enviar</button>
	</div>
</div>
</div>