/*
* Sidebar
*/
.img-toogle[aria-expanded=false] .img-expanded {
  display: none;
}
.img-toogle[aria-expanded=true] .img-collapsed {
  display: none;
}
a:hover{
    text-decoration: none;
}
.sidebar {
    position: fixed;
    z-index: 1025;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}
@media only screen  and (max-device-width: 575px) {
    .sidebar-hide{
        left: 0;
        top: -100vh;
    bottom: 100vh;;

        transition: all 0.8s ease

    }
}
@media only screen and (min-device-width: 576px) and (max-device-width: 767px) {
    .sidebar-hide{
        left: calc(-1 * 25%);
        top: 51px;
        bottom: 0;

        transition: all 0.8s ease

    }
}

@media only screen and (min-device-width: 768px)  {
    .sidebar-hide{
        left: calc(-1 * 16.67%);
        top: 51px;
        bottom: 0;

        transition: all 0.8s ease

    }
}
.sidebar-show{
    top: 51px;
    bottom: 0;

    left: 0;
    transition: all 0.8s ease;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}