<div class="jumbotron text-center">
	<h1>Clirack App</h1>
	<p class="lead">
		El lugar que converge y sigues todas las interacciones con tus clientes
	</p>
	</div>

	<div class="row">
  <div class="col-md-4">
    <h3>Comunicación</h3>
    <p>Junta todos tus mensajes en un solo lugar, dales seguimientos y soluciones</p>
  </div>
  <div class="col-md-4">
    <h3>Integración</h3>
    <p>Todos tus mensajes de redes sociales y otros medios en un solo lugar</p>
  </div>
  <div class="col-md-4">
    <h3>Clientes</h3>
    <p>No pierdas un cliente, ten todo sobre tus clientes y las interacciones con tu empresa</p>
  </div>
</div>